<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Quiz Buzz</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
        <meta content="Coderthemes" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="assets/images/favicon.ico">

        <!-- App css -->
        <link href="assets/libs/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
        <link href="assets/css/app.css" rel="stylesheet" type="text/css" />

    </head>

    <body class="authentication-bg authentication-bg-pattern" style="background-color: #0c1c57;">

        <div class="account-pages mt-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="text-center m-auto login_logo">
                            <a href="index.html">
                                <span><img src="assets/images/logo-light.png" alt="" ></span>
                            </a>
                        </div>
                        <div class="card">
                            <div class="card-body p-4 verify">
                                <div class="login_title">
                                    <h3>Verify +880 01755-947837</h3>
                                    <p>Waiting to automatically detect an SMS sent to +880 1755-947837. Edit Number?</p>
                                </div>
                                <form action="#">
                                    <div class="form-group mb-3">
                                        <input class="form-control" type="text" id="emailaddress" required="" placeholder="- - - - - - - - - - - - -">
                                        <span>Enter 6-digit code</span>
                                    </div>
                                    <div class="form-group mb-0 text-center">
                                        <button class="btn btn-danger btn-block" type="submit"> Resend SMS </button>
                                    </div>
                                </form>

                            </div> <!-- end card-body -->
                        </div>
                        <!-- end card -->

                    </div> <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </div>
        <!-- end page -->

        <!-- Vendor js -->
        <script src="assets/js/vendor.min.js"></script>
        <script src="assets/libs/magnific-popup/jquery.magnific-popup.min.js"></script>
        <script src="assets/js/pages/lightbox.init.js"></script>
        <!-- App js -->
        <script src="assets/js/app.min.js"></script>
        
    </body>
</html>